CLIENT_ID=
CLIENT_SECRET=
CLIENT_TENANT=

UPLOAD_SOURCE=/caminho/para/diretorio-local
UPLOAD_CHECKPOINT=.ms-cronos-upload.json

SHAREPOINT_SITE_URL=https://tenant.sharepoint.com/sites/MeuSite
SHAREPOINT_LIBRARY=Documents
SHAREPOINT_TARGET_ROOT=backup

# Teste de integracao somente leitura
MS_CRONOS_RUN_INTEGRATION=0
MS_CRONOS_TEST_SITE_URL=https://tenant.sharepoint.com/sites/MeuSite
MS_CRONOS_TEST_LIBRARY=Documents
