# Ignorando ambientes virtuais
venv/
.venv/

# Ignorando caches
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Ignorando variáveis de ambiente
.env


# Ignorando .vscode

.vscode/
